@media (max-width: 900px) {
    .facebook-page {
      flex-direction: column;
      text-align: center;
    }
  
    .facebook-page .text {
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 460px) {
    .facebook-page h1 {
      font-size: 3.5rem;
    }
  
    .facebook-page p {
      font-size: 1.3rem;
    }
  
    form {
      padding: 15px;
    }
  }